* {
  padding: 0;
  margin: 0;
  font-family: monospace;
}

.btn-primary {
  width: 150px;
  height: 40px;
  text-align: center;
  background: #5a35ff;
  margin: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  -webkit-transition: all 50ms ease;
  transition: all 50ms ease;
  cursor: pointer;
}

.btn-primary:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.651);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.651);
  -webkit-transition: all 50ms ease;
  transition: all 50ms ease;
}

.btn-primary:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.651);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.651);
  -webkit-transition: all 50ms ease;
  transition: all 50ms ease;
}

.container {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #e6eaff;
  font-family: monospace;
}

.container .header {
  height: 8vh;
  width: 80%;
  background: rgba(90, 53, 255, 0.657);
  border-radius: 10px;
  margin: 20px;
  text-align: center;
  font-family: monospace;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.container .header h1 {
  color: white;
  font-size: 30px;
  font-weight: 100;
}

.container .js-demos {
  height: auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .js-demos .demo {
  height: 250px;
  width: 200px;
  background: #d1d0ff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  color: white;
  margin: 20px;
}

.container .js-demos .demo img {
  max-height: 50%;
  width: 80%;
  margin: 10px;
  border-radius: 10px;
}

.container .js-demos .demo h2 {
  color: black;
  font-size: 23px;
  margin: 5px;
}

.container .js-demos .demo .btn-primary {
  width: 150px;
  height: 40px;
  text-align: center;
  background: #5a35ff;
  margin: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  -webkit-transition: all 50ms ease;
  transition: all 50ms ease;
  cursor: pointer;
}

.container .js-demos .demo .btn-primary:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 20px rgba(90, 53, 255, 0.651);
          box-shadow: 0px 0px 20px rgba(90, 53, 255, 0.651);
  -webkit-transition: all 50ms ease;
  transition: all 50ms ease;
}

.container .js-demos .demo .btn-primary:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 20px rgba(90, 53, 255, 0.651);
          box-shadow: 0px 0px 20px rgba(90, 53, 255, 0.651);
  -webkit-transition: all 50ms ease;
  transition: all 50ms ease;
}

.container .color-generator {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .color-generator span {
  display: inline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  padding: 10px;
  color: white;
  background: #2a2a2a;
  border-radius: 10px;
}

.container .color-generator span span {
  outline: none;
  text-align: center;
}

.container .counter-container {
  height: 100vh;
  width: 100vw;
  background: #0f0f0f;
  font-family: monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .counter-container span h1 {
  color: #04b904;
  font-size: 120px;
}

.container .counter-container .button-container .btn-primary {
  background: #000;
}
/*# sourceMappingURL=style.css.map */