* {
  padding: 0;
  margin: 0;
  /* font-family: monospace;  */
}

.btn-primary {
  width: 150px;
  height: 40px;
  text-align: center;
  background: #3515c2;
  margin: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  -webkit-transition: all 50ms ease;
  transition: all 50ms ease;
  cursor: pointer;
}

.btn-primary:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.651);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.651);
  -webkit-transition: all 50ms ease;
  transition: all 50ms ease;
}

.btn-primary:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.651);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.651);
  -webkit-transition: all 50ms ease;
  transition: all 50ms ease;
}

.container {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #e6eaff;
  font-family: monospace;
}

.container .header {
  height: 8vh;
  width: 80%;
  background: rgba(90, 53, 255, 0.657);
  border-radius: 10px;
  margin: 20px;
  text-align: center;
  /* font-family: monospace; */
}
   /*  typewriting*/
   .container .header h1 {
    color: white;
    display: inline-block;
    font-size: 30px;
    font-weight:100;
    font:bold;

  }
   .container .header .typing {
    font-size: 30px;
    font-weight: 100;
    font-family: 'Merriweather', serif;
    color:black;
    position: relative;
    }
    
  .container .header .typing::after{
   content:"";
   position:absolute;
   right:-5px;
   width: 2px;
   height: 90%;
   border-right: 2px solid white;
   animation: blink 0.5s infinite ease;
  }  
  
  @keyframes blink{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
/* end of typewriting code */

.container .js-demos {
  height: auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.container .js-demos .demo {
  height: 250px;
  width: 200px;
  background: #d1d0ff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
  color: white;
  margin: 20px;
}

.container .js-demos .demo img {
  max-height: 50%;
  width: 80%;
  margin: 10px;
  border-radius: 10px;
}

.container .js-demos .demo h2 {
  color: black;
  font-size: 23px;
  margin: 5px;
}

.container .js-demos .demo .btn-primary {
  width: 150px;
  height: 40px;
  text-align: center;
  background: #5a35ff;
  margin: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  -webkit-transition: all 50ms ease;
  transition: all 50ms ease;
  cursor: pointer;
}

.container .js-demos .demo .btn-primary:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 20px rgba(90, 53, 255, 0.651);
  box-shadow: 0px 0px 20px rgba(90, 53, 255, 0.651);
  -webkit-transition: all 50ms ease;
  transition: all 50ms ease;
}

.container .js-demos .demo .btn-primary:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 20px rgba(90, 53, 255, 0.651);
  box-shadow: 0px 0px 20px rgba(90, 53, 255, 0.651);
  -webkit-transition: all 50ms ease;
  transition: all 50ms ease;
}

.container .color-generator {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container .color-generator span {
  display: inline;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: auto;
  padding: 10px;
  color: white;
  background: #2a2a2a;
  border-radius: 10px;
}

.container .color-generator span span {
  outline: none;
  text-align: center;
}

/* counter */

@font-face {
    font-family: 'digital';
    src: url('/font/webfontkit-20210629-060500/technology-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.container .counter-container {
  height: 100vh;
  width: 100vw;
  background: #0f0f0f;
  font-family: monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  
}



.container .counter-container span h1 {
  color: #39ff14;
  font-size: 120px;
  font-family: 'Digital';
  }
  
.container .counter-container .button-container .btn-primary {
  font: small-caps bold 24px/1 sans-serif;
  background: #000;
  font-family: 'Digital-7 Mono';
}

/* neon counter */

#play:hover {
  background-color: #00ff66;
  -webkit-box-shadow: 10px 10px 99px 6px rgb(70, 236, 70);
  -moz-box-shadow: 10px 10px 99px 6px rgb(70, 236, 70);
  box-shadow: 10px 10px 99px 6px rgb(70, 236, 70);
}

#reset:hover {
  background-color: #00ffff;
  -webkit-box-shadow: 10px 10px 99px 6px rgb(56, 242, 255);
  -moz-box-shadow: 10px 10px 99px 6px rgb(56, 242, 255);
  box-shadow: 10px 10px 99px 6px rgb(56, 242, 255);
}

#reverse:hover {
  background-color: #cc00ff;
  -webkit-box-shadow: 10px 10px 99px 6px rgb(175, 6, 241);
  -moz-box-shadow: 10px 10px 99px 6px rgb(175, 6, 241);
  box-shadow: 10px 10px 99px 6px rgb(175, 6, 241);
}

/*# sourceMappingURL=style.css.map */

/*back button*/
.back-btn {
  background-color: #00ffff;
  -webkit-box-shadow: 10px 10px 99px 6px rgb(56, 242, 255);
  -moz-box-shadow: 10px 10px 99px 6px rgb(56, 242, 255);
  box-shadow: 10px 10px 99px 6px rgb(56, 242, 255);
  border-radius: 5px;
  background-color: #2a2a2a;
  border: none;
  color: white;
  text-align: right;
  font: small-caps bold 24px/1 sans-serif;
  font-size: 15px;
  width: 70px;
  height: 30px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
 
}

.back-btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.back-btn:after {
  content: "<<";
  position: center;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.back-btn:hover {
  padding-right: 24px;
  padding-left: 8px;
  background-color: #fef900;
  -webkit-box-shadow: 10px 10px 99px 6px rgb(236, 250, 44);
  -moz-box-shadow: 10px 10px 99px 6px rgb(236, 250, 44);
  box-shadow: 10px 10px 99px 6px rgb(236, 250, 44);
}

.back-btn:hover:after {
  opacity: 1;
  right: 10px;
}

.next-btn {
  font-family: 'Times New Roman', Times, serif;
  border-radius: 5px;
  background-color: #b34ace;
  border: none;
  color: rgb(231, 216, 216);
  text-align: right;
  font-size: 20px;
  width: 60px;
  height: 30px;
  transition: all 0.5s;
  cursor: auto;
  margin: 20px;

}
.next-btn {
  cursor: pointer;
  display: inline-block;
  position:absolute;
  left: 80%;
  right: 20%;
  bottom: 05%;
  top: 80%;
  transition: 0.5s;
}

.next-btn:after {
  content: "➡";
  position: bottom;
  opacity: 012;
  top: 15px;
  right: -20px;
  transition: 0.5s;
}

.next-btn:hover {
  padding-right: 24px;
  padding-left: 8px;
}

.next-btn:hover:after {
  opacity: 2;
  left: 10px;
}

h2{
  text-align: center;
}